body {
    font-family: Arial, sans-serif;
    margin: 40px;
    text-align: center;
    background-color: black;
    color: white;
}

header {
    padding: 20px;
    text-align: left; /* Align the text to the left within the header */
}


section {
    margin-top: 20px;
}