body {
    font-family: Arial, sans-serif;
    margin: 40px;
    text-align: center;
    background-color: black;
    color: white;
}

header {
    padding: 20px;
    text-align: left; /* Align the text to the left within the header */
}

h1 {
    color: #FF4500; /* Set the header text color to orange-red */
    margin: 0; /* Remove default margin to prevent spacing */
}

section {
    margin-top: 20px;
}