body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
    background-color: black;
    color: white;
}

header {
    padding: 20px;
    text-align: left;
}

h1 {
    margin: 0;
}

.lower-section {
    background-color: white; /* White background color for the lower section */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    background-color: black; /* Black background color for the header row */
    color: white; /* Text color for the header row */
}

/* Style for table cells (data) */
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}