body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
    background-color: #007FFF;
    color: white;
}

header {
    padding: 20px;
    text-align: left;
}

h1 {
    margin: 0;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    border: 1px white;
    padding: 8px;
    text-align: center;
    background-color: #778899	; /* Black background color for the header row */
    color: black; /* Text color for the header row */
}

/* Style for table cells (data) */
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
	background-color: #778899	;
	color: black;
}